* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  margin: 0;
}

.homepage {
  width: 100%;
  height: 100vh;
  background: #fff;
  position: relative;
  overflow: hidden;
}

.logo {
  width: 235px;
  height: 175px;
  background: url("logo.png") center center/cover no-repeat;
  position: absolute;
  top: 33px;
  left: 30px;
}

.motto {
  width: 741px;
  color: #282323;
  position: absolute;
  top: 314px;
  left: 30px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 50px;
  line-height: 1.2;
}

.description {
  width: 779px;
  color: #282323;
  position: absolute;
  top: 497px;
  left: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}

.frame1 {
  width: 204px;
  height: 56px;
  background: #206db4;
  opacity: 1;
  position: absolute;
  top: 605px;
  left: 30px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.getstarted {
  color: #fff;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  width: 100%;
}

.frame1:hover {
  background-color: #9cb4d1;
}

.frame1:active {
  background-color: #206db4;
}

.picture1 {
  width: 572px;
  height: 610px;
  background: url("picture1.png") center center/cover no-repeat;
  opacity: 1;
  position: absolute;
  top: 261px;
  right: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.aboutus, .contactus, .home, .login {
  letter-spacing: 1px;
  position: absolute;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
  text-transform: uppercase;
  color: #282323;
}

.aboutus {
  height: 72px;
  left: calc(50% - 227px);
  top: 39px;
  width: 227px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutus:hover {
  color: #9cb4d1;
}

.aboutus:active {
  color: #282323;
}

.contactus {
  height: 72px;
  right: 0;
  top: 39px;
  width: 227px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactus:hover {
  color: #9cb4d1;
}
